
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

table {
  width: auto;
  height: 25rem;
  text-align: center;
  background-color: #e0e0e0;
}

.inputHead {
  background-color: #858694;
  text-align: center;
}

.input_output_textBox {
  width: 25rem;
  border: none;
  text-align: end;
  height: 100%;
  background-color: #858694;
  color: #fff;

  /* font-size: 1.5rem; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.2rem;
  min-height: 20px;
}

.input_output_textBox:focus {
  outline: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border: 2px solid #cfcfd1;
  border-collapse: collapse;
  cursor: pointer;
}

th div { text-align: center; }

th {
  width: 2rem;
}

.orange {
  background-color: #f5913e;
}

::placeholder {
  color: #fff;
}
