.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 14rem;
    padding-left: 3rem;
    border: 1px solid black;
    background-color: #e0e0e0;
    color: #858694;
    font-style: normal;
    font-weight: 700;
}