.navbar {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  list-style: none;
  color: black;
  text-decoration: none;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
  padding-left: 3rem;
  border: 1px solid black;
}

.mathLogo {
  font-size: 15px;
  font-weight: 900;
}
